html {
  background-color: #ebebeb;
  font-family: 'Comic Neue', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.color-blue {
  background-color: #a9edf1;
}

.color-orange {
  background-color: #ffa930;
}

.color-red {
  background-color: #ff32b2;
}

.color-yellow {
  background-color: #f1f58f;
}

.color-green {
  background-color: #A8DF8E;
}

.color-white {
  background-color: #ebebeb;
}

.color-black {
  background-color: #0E0204;
}

.clippy {
  display: none;
}

body {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.sitename {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 2.5rem;
  display: block;
  position: absolute;
  top:1rem;
  left: 6rem;
  text-align: center;
  text-decoration: none;
  color:#0E0204;
}

.note {
  text-align: left;
  padding: 0rem 1rem 1rem;
  margin: 1rem 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display:flex;
  flex-direction: column;
}

.note h1 {
  padding: 0.5rem 0rem;
  margin: 0rem 0rem;
}

.centered {
  margin: 2rem auto;

  }
.small {
  max-width: 40ch;
}

.large {
  max-width: 80ch;
}

h1 {
  font-family: 'Permanent Marker', sans-serif;
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 2.1em;
  margin-bottom: 0;
}

/* nav styles */
.nav-bar {
  width:100%;
  height: auto;
 padding: 1rem; /* Add some padding for spacing */
 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.hamburger {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width:70px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #0E0204;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 5rem;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 13px;
  color: #0E0204;
}

.nav-links a:hover, a:active {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

footer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px -30px 60px -12px, rgba(0, 0, 0, 0.3) 0px -18px 36px -18px;
  display: flex;
  flex-direction:column;
  gap: 1rem;
  padding: 1rem 0rem;
  text-align: center;
  max-width: 100%;
} 
.footer-links {
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}
.footer-links a {
  padding: 1em;
  color: black;
  text-decoration: none;
  margin: 1rem 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.board {
  margin: 0rem 1rem;
}

@media screen and (min-width: 636px) {
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.footer-links {
  flex-direction:row;
}

.sitename {
  display: block;
  position: static;
}

  .nav-links {
    display: block;
    position: static;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 0 1em;
    margin:0;
  }

  .nav-links a:first-child {
    margin-left:2rem;
  }

  .hamburger {
    display: none;
  }

  .note {
    margin: 2rem 2rem;
  }
  .row {
display: flex;
flex-direction: row;
justify-content:center;
flex-wrap: wrap;
  }
.row .centered {
    margin: 2rem 2rem;
    }

.centered {
  margin: 2rem auto;
  }

.clippy {
  display: block;
  position:absolute;
  top:10rem;
  right:-6rem;
  width:200px;
  transform: rotate(-0.1turn);
}
}

/* dark colors */
html.dark {
  background-color: #2C3333;

}

.dark .nav-bar {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.dark .nav-links a {
  color: #0E0204;
}

.dark footer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
