---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../Components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="mainArea">
  <h2>Blog</h2>

From here you can find posts about various topics.
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</div>
</BaseLayout>


