---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../Components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>

  <div class="board">

    <div class="note large centered color-yellow">
      <h1>Blog</h1>
      <p>This page contains my blog. From here you can find posts about various topics.</p>
    </div>

    <div class="row">

    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
</div>
</BaseLayout>


