---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const githubRepoLink = "https://github.com/succabs/funky-portfolio";
---

<BaseLayout pageTitle={pageTitle}>

    <div class="note large centered color-red">
      <h1>Latests posts</h1>
      <p>This section will display my latest blog posts.</p>
    </div>
  </div>
</BaseLayout>
