---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const githubRepoLink = 'https://github.com/succabs/funky-portfolio';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mainArea color-yellow">
    <div class="introduction">  
<div>
  <h1>Heya.</h1>
  <h2>Welcome to my website.</h2>

  <p>This site is a work in progress. Please come back later.</p>
</div>

      <img src="profile_pic.jpg" alt="Picture of me"></div>



</div>
<div class="mainArea color-green">
  <h1>What is this?</h1>
  <p>This site works as my personal website and portfolio.</p>

  <p>The design of this portfolio is heavily inspired by sticky notes and neobrutalism.</p>
  
  <p>The source code of this site is availible on its <a href={githubRepoLink} target="_blank">GitHub repository</a>.</p>

</div>

<div class="mainArea color-red">
  <h1>Latests posts</h1>
  <p>Post 1</p>
  <p>Post 2</p>
  <p>Post 3</p>
</div>

</BaseLayout>
