---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const githubRepoLink = 'https://github.com/succabs/funky-portfolio';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mainArea">
    <div class="introduction">  
<div>
  <h2>Heya. Welcome to my website.</h2>

  <p>This site is a work in progress. Please come back later.</p>
</div>

      <img src="profile_pic.jpg" alt="Picture of me"></div>



</div>
<div class="mainArea">
  <h2>What is this?</h2>
  <p>This site works as my personal website and portfolio.</p>

  <p>The design of this portfolio is heavily inspired by Jet Set Radio Future and Neobrutalist web design.</p>
  
  <p>The source code of this site is availible on its <a href={githubRepoLink} target="_blank">GitHub repository</a>.</p>

  <p class="outlined-text neon-text">Sample text 1.</p>

  <p class="outlined-text">Sample text 2.</p>

  <p class="outlined-text">Sample text 3.</p>


  <button type="button" class="s-button">S button.</button>

  <button type="button" class="m-button">M button.</button>

  <button type="button" class="l-button">L button.</button>

  <button type="button" class="xl-button">XL button.</button>

</div>

<div class="mainArea">
  <h2>Latests posts</h2>
  <p>Post 1</p>
  <p>Post 2</p>
  <p>Post 3</p>
</div>

</BaseLayout>
