---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Heya. Welcome to my website.</h2>
  <p>The design of this portfolio is heavily inspider by Jet Set Radio Future and Neobrutalist web design.</p>
</BaseLayout>