---
import '../styles/global.css';
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
		  </style>
	</head>
	<body>
		<a href="/">Home</a>
<a href="/blog/">Blog</a>
		<h1>Astro Index site</h1>

		<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
	</body>
</html>
