---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="board">
    
<div class="centered note color-yellow large">
  
    <h1>Projects</h1>
  
    <p>This section contains projects I have made.</p>
  
</div>
<div class="row">
    <div class="centered note color-yellow small">
  
        <h1>CV-Velho</h1>
      
        <p>A web app for CV creation. The CV can be exported as PDF.</p>
        <p>Tech stack: React, TailwindCSS, Vite, Figma</p>
      
    </div>
    <div class="note color-yellow small centered">
  
        <h1>Projects</h1>
      
        <p>This section contains projects I have made.</p>
      
    </div>

    <div class="note color-yellow small centered">
  
        <h1>Projects</h1>
      
        <p>This section contains projects I have made.</p>
      
    </div>

    <div class="note color-yellow small centered">
  
        <h1>Projects</h1>
      
        <p>This section contains projects I have made.</p>
      
    </div>

</div>
</div>

</BaseLayout>
