---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="mainArea">
  
    <h2>Projects</h2>
  
    <p>This site is a work in progress. Please come back later.</p>
  
  


</div>

</BaseLayout>
