---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="note color-yellow small">
  
    <h1>Projects</h1>
  
    <p>This section contains projects I have made.</p>
  
</div>

<div class="note color-yellow large">
  
    <h1>Projects</h1>
  
    <p>This section contains projects I have made.</p>
  
</div>

</BaseLayout>
