---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="board">

    <div class="centered note color-yellow large">
  
      <h1>About me</h1>

      <p>This page contains information about me and my skills.</p>
  </div>
  <div class="row">
    <div class="note color-green small centered">
      <h2>Personal traits</h2> 
      <ul>
          <li>Creative</li>
          <li>Detail-oriented</li>
          <li>Adaptable</li>
          <li>Quick learner</li>
          <li>Problem solver</li>
        </ul>
    </div>
    <div class="note color-yellow small centered">
      <h2>Tech Stack</h2>
      <p><strong>Languages</strong>: HTML, CSS, Javascript, Python, Go, Java, C#, Lua, C++, SQL</p>
      <p><strong>Frameworks</strong>: TailwindCSS, Bootstrap, React, jQuery, Flask</p>
      <p><strong>Tools</strong>: Git, Docker, Node, Pip, NGINX, Unix</p>
    

    </div>
    <div class="note color-yellow small centered">
      <h2>Education</h2>
      <p>Bachelor Of Science in Mathematical Information Technology from University of Jyväskylä</p>
    </div>

    <div class="note color-orange small centered">

      <h3>Udemy Courses</h3>
      <ul>
        <li>
          Automate the Boring Stuff with Python Programming by Al Sweigart
        </li>
        <li>
          Web Security & Bug Bounty: Learn Penetration Testing in 2022 by
          Andrei Neagoie
        </li>
        <li>Ethical Hacking with Hardware Gadgets by Valentin Despa</li>
        <li>
          Hacking in Practice: Intensive Ethical Hacking MEGA Course by IT
          Security Academy
        </li>
      </ul>
    </div>

    <div class="note color-orange small centered">
      <h3>Shopify Academy courses</h3>
      <ul>
          <li>Conversion Optimization: Checkout</li>
          <li>Foundations: Introduction to Cross-Border Selling</li>
          <li>Foundations: Introduction to Marketing</li>
          <li>Foundations: Introduction to POS & Retail</li>
          <li>Foundations: Introduction to Product Development Opportunities</li>
          <li>Foundations: Introduction to Shopify Plus</li>
          <li>Foundations: Introduction to Working With Merchants</li>
          <li>Foundations: Shopify 101</li>
          <li>How to Increase Customer Conversions with Shopify POS</li>
          <li>Product Education: Customizing Shopify Checkout</li>
          <li>Product Education: Upgrading to Checkout Extensibility</li>
      </ul>
    </div>
  </div>
  </div>

</BaseLayout>
