---
const platform = "github";
const username = "succabs";
---

<footer>
  <p>Copyright Arttu Nikkil채 2023 - kaikki oikeudessa pid채tet채채n.</p>
  <div class="footer-links">
    <a href="https://github.com/succabs">Github</a>
    <a href="https://exercism.org/profiles/succabs">Exercism</a>
    <a href="https://www.linkedin.com/in/arttu-nikkila/">LinkedIn</a>
    <a href="mailto: artnikkila@gmail.com">Email</a>
  </div>

    
</footer>
