---
const platform = "github";
const username = "succabs";
---

<style>
    footer {
      border-top: 1px solid black;
      flex-direction:column;
      gap: 1rem;
      margin: 2rem 0rem;
      text-align: center;
    }
    .footer-links {
      display: flex;
      flex-direction:row;
    }
    a {
      padding: 1em;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
      margin: 0 13px;
    }
  </style>

<footer>
  <p>Copyright Arttu Nikkil채 2023 - kaikki oikeudessa pid채tet채채n.</p>
  <div class="footer-links"></div>
    <a href="https://github.com/succabs">Github</a>
    <a href="https://exercism.org/profiles/succabs">Exercism</a>
    <a href="https://www.linkedin.com/in/arttu-nikkila/">LinkedIn</a>
    <a href="mailto: artnikkila@gmail.com">Email</a>


    
</footer>
