---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<div class="nav-items">
<a class={currentPath === "" ? "active sitename" : "sitename"} href="/">Arttu.pro</a>
<div class="nav-links">
    <a class={currentPath === "projects" ? "active" : ""} href="/projects">Projects</a>
    <a class={currentPath === "skills" ? "active" : ""} href="/skills">Skills</a>
    <a class={currentPath === "blog" ? "active" : ""} href="/blog">Blog</a>
  </div>
</div>

<style>
.active {
  text-decoration: underline;
}
 a.active {
  text-decoration: underline;
}xw
</style>