---
---
<div class="nav-items">
<a class="sitename" href="/">Arttu.pro</a>
<div class="nav-links">
    <a href="/blog/">Projects</a>
    <a href="/blog/">Skills</a>
    <a href="/blog/">Blog</a>
  </div>
</div>
